{% extends "base.jinja2" %}
{% block content %}
  <div class="hero-unit">
    <a href="/content/col11406/latest"><h2>OpenStax College Physics</h2></a>
    <a href="/content/col11406/latest">
      <img src="http://cnx.org/featureContent/featurearticle.2012-06-27.8758672917/portrait"
           alt="OpenStax College Physics book cover"
           class="pull-right"
           />
    </a>
    <p>This 1300 page introductory, algebra-based, two-semester
      college physics book is grounded with real-world examples,
      illustrations, and explanations to help students grasp key,
      fundamental physics concepts.
    </p>

    <p><a href="/content/col11406/latest">College Physics</a> is
      the first of a planned 20 college textbooks to be released by
      <a href="http://openstaxcollege.org">OpenStax College</a>.
      This online, fully editable and customizable title includes
      learning objectives, conceptual questions, links to labs and
      simulations, and ample practice opportunities to solve
      traditional physics application problems.
    </p>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h2>Find content</h2>
      {% include "snippets/search_box.jinja2" %}
    </div>
    <div class="span8">
      <h2><a href="http://cnx.org/help/authoring/createmodule">Create content</a></h2>
      <p id="cnx_create_easy">
        Creating content in Connexions is as easy as <b>1, 2, 3</b>:
      </p>

      <table id="cnx_create_123">
        <tbody>
          <tr>
            <td class="cnx_create_image">
              <img src="http://cnx.org/authoring-step-1.gif"
                   alt="Authoring step 1: create an account"
                   />
            </td>
            <td class="cnx_create_image">
              <img src="http://cnx.org/authoring-step-2.gif"
                   alt="Authoring step 2: create a module"
                   />
            </td>
            <td class="cnx_create_image">
              <img src="http://cnx.org/authoring-step-3.gif"
                   alt="Authoring step 3: publish"
                   />
            </td>
          </tr>
          <tr>
            <td class="cnx_create_step">
              <span class="cnx_create_number">1</span>
              Get an account and log in to your workspace.
            </td>
            <td class="cnx_create_step">
              <span class="cnx_create_number">2</span>
              Make a module from scratch or convert it from a Word doc.
            </td>
            <td class="cnx_create_step">
              <span class="cnx_create_number">3</span>
              Publish your works, sharing them with the world.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
