{% extends "base.jinja2" %}
{% block content %}
  <h1>Search results for {{ request.params['q'] }}</h1>
  {% include "snippets/search_box.jinja2" %}
  <div id="search-results">
    <ul>
      {% for r in records %}
      <li class="search-record">
        <a href="{{ r.link }}">{{ r.title }}</a>
        <div class="search-summary">{{ r.summary|safe }}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
